.swiper-button-prev,
.swiper-button-next {
  color: #FFBA08 !important;
}

.swiper-pagination-bullet {
  background-color: #999999 !important;
}

.swiper-pagination-bullet-active {
  background-color: #FFBA08 !important;
}

.swiper-content::before {
  content: '';
  background-color: black;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.50;
}

.banner-opacity::before {
  content: '';
  background-color: #1C1401;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.35;
}

